.blog,
.archive,
.single-post {
    .card {
        margin-bottom: 2rem;

        .post-thumbnail {
            position: relative;
        }

        .entry-content {
            .read-more {
                display: block;
                margin-top: $margin;
            }
        }
    }
}

.blog,
.archive {
    .card {
        .entry-content {
            p {
                margin-bottom: 0;
            }
        }
    }
}
