.page-template-members {
    @include card-deck;

    .card-deck {
        .card {
            .btn {
                border: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}
