body.search-results {
    span.keyword {
        @include secondary-gradient;
        padding: 0 $padding;
        color: $white;
        border-radius: $border-radius;
    }
}

#search-bar {
    
    @include respond-below(md) {
        input {
            font-size: $mobile-font-size;
        }
    }

}