#supporters {
    padding: $large-padding 0;
    border-top: 1px solid $brand-gray;

    h2 {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        text-align: center;
    }

    .container {

        .supporter {
            a {
                img {
                    filter: grayscale(100%);
                    transition: all 0.3s ease;

                    &:hover {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}
