#cd-timeline {

    &.timeline-express {
        margin-top: 0;
    }

    .cd-timeline-content {
        @include card;
        overflow: visible;
        padding: 0;

        .timeline-container-image {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            overflow: hidden;
        }

        .cd-timeline-title-container {
            padding: $large-padding;

            .timeline-date {
                width: max-content;
                padding: $small-padding;
                margin-bottom: $margin;
                font-weight: 600;
                font-size: 1.5rem;
                font-style: initial;
                background: $brand-main;
                color: $brand-subtle-gray;
            }

            .cd-timeline-item-title {
                padding: 0;
                margin-bottom: $margin;
            }
        
        }

    }

}

.single-te_announcements {
    .btn.back-to-calendar {
        margin-bottom: $margin;
    }
}