#cd-timeline {

    &.timeline-express {
        margin-top: 0;
    }

    .cd-timeline-block {

        @media only screen and (min-width: 822px) {
            &:not(:first-child) {
                margin-top: -15rem;
            }
        }

        .cd-timeline-content {
            @include card;
            overflow: visible;
            padding: 0;
    
            .timeline-container-image {
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                overflow: hidden;
            }
    
            .cd-timeline-title-container {
                padding: $large-padding;
                text-align: center;
    
                .timeline-date {
                    width: max-content;
                    padding: $small-padding $padding;
                    margin: 0 auto $margin auto;
                    font-weight: 600;
                    font-size: 1.5rem;
                    font-style: initial;
                    background: $brand-main;
                    color: $brand-subtle-gray;
                    border-radius: 0.5rem;
                }
    
                .cd-timeline-item-title {
                    padding: 0;
                    margin: $large-margin 0;
                }
            
            }
    
        }

    }

}

.single-te_announcements {
    .btn.back-to-calendar {
        margin-bottom: $margin;
    }
}