.wp-block-image {
    figure {
        figcaption {
            margin: 0;
            padding: $padding;
            background: $brand-subtle-gray;
        }
    }
}

.wp-block-file {
    a {
        display: block;

        &.wp-block-file__button {
            width: max-content;
            margin: $small-margin 0 0 0;
        }
    }
}