@mixin card {
    overflow: hidden;
    background: white;
    box-shadow: 0 10px 30px $brand-gray !important;
    border: none;
    border-radius: 0.5rem;
}

.card {
    @include card;
}

@mixin card-deck {
    .card-deck {
        .card {
            margin: 0 0 2rem 0;
        }
    }
}
