#footer-widget {
    padding: 5rem 0;

    .widget {

        .widget-title {
            padding-left: $padding;
        }

        @include card;
        padding: $small-padding;

        ul.nav {

            li {
                a {
                    @include respond-below(sm) {
                        font-size: $font-larger;
                    }
                }
            }
            
            @include anchor-gradient-hover-effect;
        }

    }

    .widget_text {
        img {
            padding: $padding;
            margin: 0;
            width: 60%;

            @include respond-above(sm) {
                width: 100%;
            }
        }

        @include respond-below(md) {
            p {
                
                padding: 0 $padding;
                font-size: $font-larger;
            }
        }

        @include respond-below(sm) {
            p {
                font-size: $font-larger;
            }
        }
        
    }

    h3.widget-title {
        margin-top: $margin;
        text-transform: uppercase;
    }

    ul.nav {

        li {

            a {
                padding-left: 0;
            }

        }

    }
}
