#search-bar {
    transition: all 400ms ease-in-out;

    .search-form {
        position: relative;
        padding: 0;
        margin: 0;

        label {
            display: block;
            margin-bottom: 0;
            background: $brand-subtle-gray;

            input {
                padding: 2rem 1rem;
                border: none;
                border-radius: 0;
                background: $brand-subtle-gray;
            }
        }

        .search-submit {
            position: absolute;
            padding: $small-padding $padding;
            height: 100%;
            top: 0;
            right: 0;
            border: none;
            border-radius: 0;
            color: $brand-main;
            background: $brand-gray;

            .icon-search {
                @include icon;
                @include search;
            }
        }
    }
}
