@mixin fade-in-animation {
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; } 
    }
    
    opacity: 0;
     -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}