@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$brand-main: #9e3039;
$brand-secondary: #a06774;
$brand-gray: #eddfe2;
$brand-subtle-gray: #fff6f5;

$padding: 1rem;
$small-padding: 0.5rem;

$margin: 1rem;
$small-margin: 0.5rem;

$border-radius: 0.3rem;

@mixin main-font {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
}

$font-larger: 1.2rem;

@mixin primary-gradient {
    background: linear-gradient(
        to right bottom,
        #9e3039,
        #a83844,
        #b24050,
        #bc495c,
        #c65168,
        #c7556d,
        #c75a72,
        #c85e77,
        #c06076,
        #b86175,
        #b06274,
        #a86373
    );
}

@mixin secondary-gradient {
    background: linear-gradient(
        to left bottom,
        #fff6f5,
        #f3e6e5,
        #e7d7d6,
        #dbc8c6,
        #cfb9b7,
        #c8adab,
        #c1a1a0,
        #ba9595,
        #b6898b,
        #b27c82,
        #ad707a,
        #a86373
    );
}

@mixin card {
    padding: $padding;
    background: $brand-subtle-gray;
    box-shadow: 0 10px 30px $brand-gray;
    border-radius: 0.5rem;
}
