h1.entry-title,
h1.archive-title {
    font-size: 2.5rem;
    font-weight: 600;
}

h2.entry-title {
    a {
        transition: color 300ms ease-in-out 10ms;
    }

    a:hover {
        text-decoration: none;
    }
}

.entry-content {
    p {
        margin-bottom: 1.5em;
        font-size: 1.1rem;
        line-height: 2rem;
    }
}
