#masthead {
    background: $brand-gray;
    @include primary-gradient;

    @include respond-below(md) {
        .container {
            padding: 0 $small-padding;
        }
    }

    .navbar-brand {
        a {
            display: block;

            img {
                width: 100%;
            }

            &.mobile-logo {
                display: none;
            }
        }

        @include respond-below(md) {
            a {
                display: none;
                &.mobile-logo {
                    display: block;
                }
    
                img {
                    width: 50%;
                }
            }
        }

    }

    .header-actions {
        @include respond-below(md) {
            span {
                font-size: 2rem;
            }
        }

        @include respond-below(lg) {
            &.order-md-2 {
                order: 2 !important;
            }
        }

        

        .search-toggler {
            border: none;
            background: none;
            span {
                opacity: 0.55;
                color: $brand-subtle-gray;
                transition: opacity 300ms ease-in-out;
            }
            

            &.active {
                opacity: 1;
            }
    
            &:focus,
            &:active {
                outline: none;
            }

            &:not(.collapsed) {
                span {
                    opacity: 1;
                }
            }
        }

        .navbar-toggler {
            border: none;
            outline: none;

            span {
                opacity: 0.55;
                color: $brand-subtle-gray;
                transition: opacity 300ms ease-in-out;
            }
            
            &:not(.collapsed) {
                span {
                    opacity: 1;
                }
            }

        }
    }

    .navbar-nav {
        @mixin main-menu-hover {
            color: $brand-subtle-gray;
            border-bottom: 3px solid $brand-subtle-gray;
        }

        margin-right: $margin;

        li {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            a {
                color: $brand-gray;
                padding: 0.5rem;
                font-size: $font-larger;
                border-bottom: 3px solid transparent;

                transition: all 300ms ease-in-out;

                &:hover {
                    @include main-menu-hover;
                }
            }

            &.current_page_item,
            &.current-page-ancestor {
                a {
                    @include main-menu-hover;

                    &::before {
                        padding-left: $small-padding;
                    }
                }


            }

            @include respond-below(md) {
                &.current_page_item,
                &.current-page-ancestor {
                    a {
                        background: $brand-subtle-gray;
                        color: $brand-main;
                        border-radius: $border-radius;


                    }

                }
    
            }

            &.icon {
                a::before {
                    @include icon;
                    margin-right: 0.8rem;
                }

                &.calendar {
                    a::before {
                        @include calendar-icon;
                    }
                }

                &.contact {
                    a::before {
                        @include contact-icon;
                    }
                }

                &.info {
                    a::before {
                        @include info-icon;
                    }
                }

                &.photo-gallery {
                    a::before {
                        @include gallery;
                    }
                }
            }
        }

        @include respond-below(sm) {
            li.menu-item {

                display: block;



            }
        }

        @include respond-below(md) {
            li.menu-item {


                a {
                    font-size: $mobile-font-size;
                }

            }
        }

        @include respond-below(lg) {
            display: block;
            padding-top: $small-padding;
            
            li {
                display: inline-block;
            }
        }
    }

}
