#masthead {
    background: $brand-gray;
    @include primary-gradient;

    .navbar-brand {
        a {
            display: block;

            img {
                width: 100%;
            }
        }
    }

    .navbar-nav {
        @mixin main-menu-hover {
            color: $brand-subtle-gray;
            border-bottom: 3px solid $brand-subtle-gray;
        }

        li {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            a {
                color: $brand-gray;
                padding: 0.5rem;
                font-size: $font-larger;
                border-bottom: 3px solid transparent;

                transition: all 300ms ease-in-out;

                &:hover {
                    @include main-menu-hover;
                }
            }

            &.current_page_item,
            &.current-page-ancestor {
                a {
                    @include main-menu-hover;
                }
            }

            &.icon {
                a::before {
                    @include icon;
                    margin-right: 0.8rem;
                }

                &.calendar {
                    a::before {
                        @include calendar-icon;
                    }
                }

                &.contact {
                    a::before {
                        @include contact-icon;
                    }
                }

                &.info {
                    a::before {
                        @include info-icon;
                    }
                }
            }
        }
    }

    .search-toggle {
        border: none;
        background: none;
        color: $brand-subtle-gray;

        &:focus,
        &:active {
            outline: none;
        }
    }

    @include respond-below(lg) {
        .search-toggle {
            position: absolute;
            right: 5rem;
        }
    }
}
