aside#secondary {
    .widget {
        &.widget_search {
            label {
                width: 100%;
            }
        }

        &.widget_nav_menu,
        &.widget_archive {
            @include card;

            .menu-item,
            .nav-item {
                .nav-link {
                    font-size: 1rem;
                    border-radius: 0.3rem;

                    &:hover {
                        @include secondary-gradient;
                        color: $brand-subtle-gray;
                    }
                }

                &.current-menu-item {
                    .nav-link {
                        @include secondary-gradient;
                        color: $brand-subtle-gray;
                    }
                }
            }
        }
    }
}
