h3.widget-title {
    font-weight: 300;
}

.sharing-widget {
    margin: $margin 0;
}

aside#secondary {
    .widget {
        &.widget_search {
            label {
                width: 100%;
            }
        }

        &.widget_nav_menu,
        &.widget_archive,
        &.widget_subpages {
            @include card;
            padding: $padding;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .menu-item,
            .nav-item,
            li {
                a {
                    
                }

                @include anchor-gradient-hover-effect;

                &.current-menu-item,
                &.current-page-ancestor {
                    .nav-link,
                    a {
                        @include secondary-gradient;
                        color: $brand-subtle-gray;
                    }
                }

                &.widget_subpages_current_page {
                    @include secondary-gradient;
                    border-radius: $border-radius;
                    color: $brand-subtle-gray;

                    &.first-menu-item > a {
                        @include primary-gradient;
                    }
                }

                &.widget_subpages_current_page > a {
                    color: $brand-subtle-gray;
                }

                &.widget_subpages_current_page > ul > li > a {
                    color: $brand-subtle-gray;
                }
            }
        }

        &.widget_subpages {
            background: $brand-subtle-gray;
        }

        @include respond-below(md) {
            &.widget_nav_menu,
            &.widget_archive,
            &.widget_subpages {
                padding: 0;
                
                .menu-item,
                .nav-item,
                li {
                    a { 
                        border-radius: 0;
                        padding: 1rem;

                        &::before {
                            border-radius: 0;
                        }
                    }

                }
            }
        }
    }
}
